header {
    width: 100%;
    min-height: 50px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #dff8d9;
    align-items: center;
}

header > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 50px;
    height: auto;
}

.logo.text {
    color: #253a1a;
    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: -2px;
    font-style: italic;
}

.user {
    font-size: 40px;
    color: #162210;
}

.content {
    padding: 50px 300px;
}

.search-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-items: flex-start;
}

.arrow {
    font-size: 40px !important;
    vertical-align: bottom;
}