/* //
// JUSTAS & ANA & AISTE
// */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* overflow-x: hidden; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* BUTTONS */

button {
    width: fit-content;
    padding: 5px 25px;
    background: rgb(208, 226, 45);
    color: rgb(248, 248, 241);
    font-size: 24px;
    border-radius: 7px;
    border: none;
    margin: 5px 10px;
}

button:hover {
    background: linear-gradient( rgb(217, 233, 79), rgb(208, 226, 45));
    color: rgb(255, 255, 255);
}

button:active {
    background: linear-gradient(rgb(208, 226, 45), rgb(217, 233, 79));
}

button.primary {
    background: rgb(36, 179, 7);
}

button.primary:hover {
    background: linear-gradient( rgb(60, 199, 33), rgb(36, 179, 7));
    color: rgb(255, 255, 255);
}

button.primary:active {
    background: linear-gradient(rgb(36, 179, 7), rgb(60, 199, 33));
}

/* INPUTS */
input {
    width: auto;
    height: 40px;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 7px;
    border: solid 2px gray;
    margin: 0px;
}

input.address {
    min-width: 200px;
}

input.date {
    min-width: 250px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.pointer {
    cursor: pointer;
}

input.radio {
    min-width: 50px;
}
